/* ------------------------------- global text ------------------------------- */

/* ------------------------------- base ------------------------------- */

.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.code{
    font-family: 'Consolas', monospace;
    font-size: 16px;
}

.h1{
    font-family: Comfortaa, cursive;
    font-weight: 400;

    color: #478ac9;

    font-size: 30px;
}
.h2{
    font-family: Comfortaa, cursive;
    font-weight: 400;

    color: #478ac9;

    font-size: 36px;
}
.h3{
    font-family: Comfortaa, cursive;
    font-weight: 400;

    font-size: 30px;
}
.h4{
    font-family: Comfortaa, cursive;
    font-weight: 400;

    font-size: 24px;
}
.h5{
    font-family: Comfortaa, cursive;
    font-weight: 400;

    font-size: 20px;
}
.h6{
    font-family: Comfortaa, cursive;
    font-weight: 400;

    font-size: 18px;
}

/* ------------------------------- colors ------------------------------- */

.text-white{
    color: #ffffff;
}
.text-blue{
    color: #478ac9;
}

/*
Получить количество прохождений
Возвращает количество прохождений всех тестов в системе

Path:   api/get_results_count
Input:  none
Output: integer

Получить список прохождений
Возвращает список прохождений всех тестов в системе в формате JSON

Path:   api/get_results_list
Input:  none
Output: json

Получить количество прохождений одного теста
Возвращает количество прохождений одного определённого теста в системе

Path:   api/get_tests_count_by_test/int:id_test
Input:  integer
Output: integer / null
*/