<div class="parts__test">
	<img class="parts__test-image"
		 src="{{ url_for( 'static', filename = 'img/sys/tests.png' ) }}"
		 alt="test section">

	<h3 class="parts__test-title">
		<a class="parts__test-title-link"
		   href="{{ url_for( 'test', id = test.id ) }}">{{ test.name }}</a>
	</h3>

	<p class="parts__test-desc">
		{{ test.annotation }}
	</p>

	<p class="parts__test-info">
		Количество вопросов: {{ test.questions.count() }}
	</p>

	<p class="parts__test-info">
		Количество прохождений: N/A
	</p>

	<p class="parts__test-info">
		Сложность: 5
	</p>

	<p class="parts__test-info">
		Рейтинг: 5
	</p>

	<p class="parts__test-btn">
		<a class="btn btn-round btn-md btn-info"
		   href="{{ url_for( 'test', id = test.id ) }}">Узнать</a>

		<a class="btn btn-round btn-md btn-success"
		   href="{{ url_for( 'test', id = test.id ) }}">Пройти</a>
	</p>
</div>
