/* ------------------------------- page about ------------------------------- */

/* -------------------- section main -------------------- */

.about__section-main{
    margin: 20px 50px;
    padding: 0 20px;
}
