/* ------------------------------- page api ------------------------------- */

/* -------------------- section main -------------------- */

.api__section-main-header{
	font-family: Nunito, sans-serif;
}
.api__section-main{
	margin: 30px 0;
}
.api__section-main-link{
	display: block;

	text-decoration: none;
	font-size: 1.2em;

	color: #84c3be;
}
.api__section-main-info{
	font-size: 1em;
	font-family: 'Consolas', monospace;
}
