/* ------------------------------- page index ------------------------------- */

/* -------------------- section group -------------------- */

.index__section-group{
	display: flex;

	margin: 30px 0;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	border-radius: 10px;

	border: 3px solid #ffc107;
	background-color: #eeeeee;
}
.index__section-group-title{
	width: 100%;

	margin: 0;
	padding: 10px 30px;

	font-family: Nunito, sans-serif;
}
.index__section-group-title-link{
	text-decoration: none;

	color: #333333;
}
.index__section-group-description{
	width: 100%;

	margin: 0;
	padding: 0 30px 15px;

	overflow-wrap: anywhere;

	border-bottom: 3px solid #ffc107;
}
.index__section-group-btn{
	width: 100%;

	margin: 0;
	padding: 25px 0;

	text-align: center;

	border-top: 1px solid #ffc107;
}
