/* ------------------------------- page test-base dark ------------------------------- */

/* -------------------- section group -------------------- */

.test-base__section-test-image{
	border-bottom: 3px solid #e2be4d;
}
.test-base__section-test-name{
    color: #dddddd;
}
.test-base__section-test-description{
	color: #eeeeee;
}
.test-base__section-test-info{
	color: #cccccc;
}
.test-base__section-test-btn{
	border-top: 1px solid #e2be4d;
}
