{% extends 'base.html' %}


{% block links %}

	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/admin.min.css' ) }}">
	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/admin-dark.min.css' ) }}">

{% endblock %}


{% block content %}

	<section class="global__section admin__section-main">
		<h1 class="global__main-header">{{ _("Tables") }}</h1>

		<a class="admin__section-main-link-big"
		   href="{{ url_for('admin_table_classes') }}">
			{{ _("Table of study groups") }} ( {{ group.query.count() }} )
		</a>

		<a class="admin__section-main-link-big"
		   href="{{ url_for('admin_table_users') }}">
			{{ _("Table of users") }} ( {{ user.query.count() }} )
		</a>

		<a class="admin__section-main-link-big"
		   href="{{ url_for('admin_table_groups') }}">
			{{ _("Table of groups") }} ( {{ group.query.count() }} )
		</a>

		<a class="admin__section-main-link-big"
		   href="{{ url_for('admin_table_tests') }}">
			{{ _("Table of tests") }} ( {{ test.query.count() }} )
		</a>

		<a class="admin__section-main-link-big"
		   href="{{ url_for('admin_table_results') }}">
			{{ _("Table of results") }} ( {{ result.query.count() }} )
		</a>
	</section>

{% endblock %}
