/* ------------------------------- global ------------------------------- */

/* -------------------- base -------------------- */

.global__body{
	display: grid;
	grid-template-areas: "header header header header"
						 "none1  aside  main   none2"
						 "footer footer footer footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr auto auto 1fr;

	margin: 0;
	padding: 0;

	min-height: 100vh;

	font-family: Roboto, sans-serif;

	background-color: #dddddd;
}

/* -------------------- header -------------------- */

.global__header{
	grid-area: header;
}
.global__header-title{
	margin: 0;
	padding: 10px 20px;

	font-family: Nunito, sans-serif;
	font-weight: normal;

	border-bottom: 10px solid #ffc107;
}
.global__header-title a{
	color: #444444;

	text-decoration: none;
}
.global__header-title-prefix{
	padding: 1px 3px;

	font-weight: bold;

	border-radius: 10px;

	border: 1px solid #000000;
}

/* -------------------- aside -------------------- */

.global__aside{
	grid-area: aside;

	width: 320px;
}
.global__aside-sidebar{
	margin: 30px 20px 20px 0;

	border-radius: 10px;

	background-color: #eeeeee;
	border: 3px solid #ffc107;
}
.global__aside-sidebar-title{
	margin: 0;
	padding: 10px 20px;

	font-family: Nunito, sans-serif;
	border-bottom: 3px solid #ffc107;
}
.global__aside-sidebar-data{
	padding: 10px;
}

/* -------------------- menu -------------------- */

.global__menu{
	padding: 0;

	list-style: none;
}
.global__menu-item{
	padding-bottom: 5px;

	overflow-wrap: anywhere;
}
.global__menu-link{
	text-decoration: none;

	color: #333333;
}

.global__menu-submenu{
	padding-left: 30px;
}
.global__menu-submenu-item{

}
.global__menu-submenu-item-link{
	text-decoration: none;

	color: #333333;
}

/* -------------------- main -------------------- */

.global__main{
	grid-area: main;

	width: 1000px;
}

/* -------------------- footer -------------------- */

.global__footer{
	grid-area: footer;

	border-top: 10px solid #ffc107;
}
.global__footer-author{
	text-align: center;
}
