/* ------------------------------- global dark ------------------------------- */

/* -------------------- base -------------------- */

.global__body{
	background-color: #272822;
}

/* -------------------- header -------------------- */

.global__header{
	border-bottom: 10px solid #e2be4d;
}
.global__header-logo{
	border: 1px solid #eeeeee;
	background-color: #272822;
}
.global__header-logo-link{
	color: #eeeeee;
}
.global__header-title{
	color: #eeeeee;
}
.global__header-path{
	color: #eeeeee;
}
.global__header-path a{
	color: #84c3be;
}
.global__header-menu{
	color: #cccccc;
}
.global__header-menu a{
	color: #84c3be;
}

/* -------------------- aside -------------------- */

.global__aside-sidebar {
	background-color: #333333;
	border: 3px solid #e2be4d;
}
.global__aside-sidebar-title{
	color: #cccccc;
	border-bottom: 3px solid #e2be4d;
}
.global__menu-item{
	color: #cccccc;
}
.global__menu-link{
	color: #84c3be;
}
.global__menu-submenu-item{
	color: #cccccc;
}
.global__menu-submenu-item-link{
	color: #cccccc;
}

/* -------------------- footer -------------------- */

.global__footer{
	border-top: 10px solid #e2be4d;
}
.global__footer-author{
	color: #eeeeee;
}
