<!doctype html>
<html lang="ru">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }} | ТеСи</title>

		<link rel="icon" href="{{ url_for( 'static', filename = 'favicon.ico' ) }}" type="image/x-icon">

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/global.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/media.min.css' ) }}">

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/parts.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/parts-media.min.css' ) }}">

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/forms.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/forms-media.min.css' ) }}">

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/buttons.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/highlight.min.css' ) }}">

		{% block links %}{% endblock %}

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/global-dark.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/index-dark.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/parts-dark.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/forms-dark.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/test-base-dark.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/about-dark.min.css' ) }}">

		{{ moment.include_jquery() }}
		{{ moment.include_moment() }}
		{{ moment.locale( g.locale ) }}
    </head>

    <body class="global__body">
        <header class="global__header">
			<div class="global__header-inner">
				<span class="global__header-logo">
					<a class="global__header-logo-link"
					   href="{{ url_for('index') }}">ТеСи</a>
				</span>

				<div class="global__header-menu">
					{% if current_user.is_authenticated %}
						{{ current_user.username }}
						<br>
						<a href="{{ url_for('logout') }}">{{ _('logout') }}</a>

						{% if current_user.role == "A" %}
							<br>
							<a href="{{ url_for('add_group') }}">{{ _('add group') }}</a>
							<br>
							<a href="{{ url_for('add_test') }}">{{ _('add test') }}</a>
						{% endif %}

					{% else %}
						<a href="{{ url_for('login') }}">{{ _('login') }}</a>
						<br>
						<a href="{{ url_for('register') }}">{{ _('register') }}</a>
					{% endif %}
				</div>

				<h1 class="global__header-title">
					{{ title }}
				</h1>

				<span class="global__header-path">
					{% if path %}
						{{ path|safe }}
					{% else %}
						{{ title }}
					{% endif %}
				</span>
			</div>
		</header>

		{% if menu %}
			<aside class="global__aside">
				<div class="global__aside-sidebar">
					<h2 class="global__aside-sidebar-title">
						{{ menu }}
					</h2>

					<div class="global__aside-sidebar-data">
						{% block menu %}{% endblock %}
					</div>
				</div>
			</aside>
		{% endif %}

		<main class="global__main">
			{% block content %}{% endblock %}
		</main>

		<footer class="global__footer">
			<p class="global__footer-links">
				<a class="btn btn-sm btn-round btn-grey" href="{{ url_for('about_system') }}">
					{{ _("About TeSi") }}
				</a>

				<a class="btn btn-sm btn-round btn-grey" href="{{ url_for('about_us') }}">
					{{ _("About us") }}
				</a>

				<br>

				<a class="btn btn-sm btn-round btn-grey" href="https://github.com/Cet500/FlaskTestingSystem">
					{{ _("We are for open software")  }}
				</a>
			</p>

			<p class="global__footer-author">FTS by SI, 2021</p>
		</footer>
    </body>
</html>
