{% extends 'base.html' %}


{% block links %}

	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/index.min.css' ) }}">

	{# Dark theme #}

	{% if g.theme == "dark" %}

		<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/index-dark.min.css' ) }}">

	{% endif %}

{% endblock %}


{% block menu %}

	<ul class="global__menu global__menu-numbered">
		{% for test in group.tests %}

			<li class="global__menu-item">
				<a class="global__menu-link"
				   href="{{ url_for('test', id = test.id) }}">
					{{ test.name }}</a>
			</li>

		{% endfor %}
	</ul>

{% endblock %}


{% block content %}

	<section class="global__section index__section-group">
		<h2 class="global__main-header index__section-group-title">
			<a class="index__section-group-title-link"
			   href="{{ url_for( 'group', id = group.id ) }}">{{ group.title }}</a>
		</h2>

		<p class="index__section-group-description">{{ group.description }}</p>

		{% for test in group.tests %}

			{% include 'parts/test.html' %}

		{% endfor %}
	</section>

{% endblock %}
