{% extends 'base.html' %}


{% block links %}

	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/test-base.min.css' ) }}">
	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/test-base-media.min.css' ) }}">

{% endblock %}


{% block content %}

	<section class="test-base__section-test">
		<img class="test-base__section-test-image"
			 src="{{ url_for( 'static', filename = 'img/sys/tests.png' ) }}" alt="">

		<h2 class="test-base__section-test-name">{{ test.name }}</h2>

		<p class="test-base__section-test-description">{{ test.annotation }}</p>

		<p class="test-base__section-test-description">{{ test.description }}</p>

		<p class="test-base__section-test-info">
            {{ _("Count questions:") }} {{ test.questions.count() }}
        </p>

        <p class="test-base__section-test-info">
            {{ _("Number of playthroughs:") }} {{ test.results.count() }}
        </p>

		<p class="test-base__section-test-info">
			{{ _("Average mark:") }} {{ test.avg_marks() }} / 5.0
		</p>

        <p class="test-base__section-test-info">
            {{ _("Difficult:") }} {{ test.difficult }}
        </p>

		<p class="test-base__section-test-info">
            {{ _("Raiting:") }} 5
        </p>

		<p class="test-base__section-test-btn">
			{% if current_user.is_authenticated %}
				{% if current_user.role == "A" %}

				<a class="btn btn-round btn-lg btn-primary"
				   href="{{ url_for( "update_test", id = test.id ) }}">{{ _("Update test") }}</a>

				{% endif %}
			{% endif %}

			<a class="btn btn-round btn-lg btn-success"
			   href="{{ url_for( "testing", id = test.id ) }}">{{ _("Start test") }}</a>
		</p>
	</section>

{% endblock %}
