{% extends 'base.html' %}


{% block content %}

	<form class="form" action="" method="post" novalidate>
		{{ form.hidden_tag() }}

		<div class="form-header">
			<h2 class="form-header-title">{{ test.name }}</h2>
		</div>

		<div class="form-inputs">

			{% for quest in form %}
				{% if quest.type == "RadioField" %}
					{{ quest.label( class="form-input-label" ) }}
					{{ quest( class="form-input-radio" ) }}

					{% for error in quest.errors %}
						<span class="check error">[{{ error }}]</span>
					{% endfor %}
				{% endif %}
			{% endfor %}

		</div>

		<div class="form-buttons">
			{{ form.submit(class="btn btn-md btn-round btn-primary") }}
		</div>
	</form>

{% endblock %}
